<div style="padding: 3rem 1rem; overflow-y: scroll;">
    <div class="tab-head horizontal-flex" style="justify-content: space-between; margin: 0 0 1rem 0;">
        <div class="" style="width: 100%;">
            <filters-players :initFilters="initFilters" v-on:change="refresh($event)"></filters-players>
            <div style="float: right;" v-if="records.length > 0">
                <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
                    <div style="display: flex; align-items: center; margin-left: 10px;">
                        סה"כ רשומות:
                        {{records.length}}
                        <template v-if="selectedPlayers.length > 0">
                            |
                            <template v-if="selectedPlayers.length === 1">
                                רשומה אחת נבחרה
                            </template>
                            <template v-if="selectedPlayers.length > 1">
                                {{selectedPlayers.length}} רשומות נבחרו
                            </template>
                            <button type="button" class="btn btn-sm"
                                    style="font-size: 12px; font-weight: bold; vertical-align: middle; padding: 2px 2px 2px 2px;"
                                    v-on:click="resetSelection();">
                                איפוס
                            </button>
                        </template>
                    </div>
                    <template v-if="selectedPlayers.length > 0">
                        <div style="display: flex; align-items: center; margin-left: 10px">
                            שינוי סטטוס
                            <template v-if="selectedPlayers.length > 1">
                                שחקנים:
                            </template>
                            <template v-if="selectedPlayers.length <= 1">
                                שחקן:
                            </template>
                        </div>
                        <div style="display: flex; align-items: center; margin-left: 10px" class="clickable" v-on:click="changeStatus(2)"
                             v-bind:class="{'disabled-button': selectedPlayers.length == 0}">
                            <img src="img/icon-tick.svg" style="padding: 0 10px; width: 10px; height: 10px;">
                            <div>
                                <template v-if="selectedPlayers.length > 1">
                                    מאושרים
                                </template>
                                <template v-if="selectedPlayers.length <= 1">
                                    מאושר
                                </template>
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; margin-left: 10px" class="clickable" v-on:click="changeStatus(1)"
                             v-bind:class="{'disabled-button': selectedPlayers.length == 0}">
                            <img src="img/delete.svg" style="padding: 0 10px; width: 10px; height: 10px;">
                            <div>
                                <template v-if="selectedPlayers.length > 1">
                                    רשומים
                                </template>
                                <template v-if="selectedPlayers.length <= 1">
                                    רשום
                                </template>
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; margin-left: 10px" class="clickable" v-on:click="changeStatus(3)"
                             v-bind:class="{'disabled-button': selectedPlayers.length !== 1}">
                            <img src="img/delete.svg" style="padding: 0 10px; width: 10px; height: 10px;">
                            <div>
                                לא מאושר
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; margin-left: 10px" class="clickable"
                             v-on:click="deletePlayers()"
                             v-if="selectedPlayers.length <= 999"
                             v-bind:class="{'disabled-button': selectedPlayers.length == 0}">
                            <img src="img/icon-trash.svg" style="padding: 0 10px; border-right: 1px solid; width: 16px; height: 16px;">
                            <div>
                                מחיקת
                                <template v-if="selectedPlayers.length > 1">
                                    שחקנים
                                </template>
                                <template v-if="selectedPlayers.length <= 1">
                                    שחקן
                                </template>
                            </div>
                        </div>
                        <div style="display: flex; align-items: center; margin-left: 10px; font-size: 10px; font-weight: bold; color: red;"
                             v-if="selectedPlayers.length > 999">
                            ניתן למחוק עד 999 שחקנים במקביל
                        </div>
                        <div style="display: flex; align-items: center; margin-left: 1rem;" class="clickable"
                             v-on:click="onEditPlayer()"
                             v-bind:class="{'disabled-button': selectedPlayers.length != 1}">
                            <img src="img/edit.svg" style="width: 1rem; padding: 0 10px; border-right: 1px solid; border-color: #b4b4b4;">
                            <div>עריכת שחקן</div>
                        </div>
                    </template>
                </div>
            </div>
            <div style="float: left;">
                <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
                    <div style="display: flex; align-items: center; margin-left: 1rem;" class="clickable"
                         v-on:click="newPlayer()">
                        <img src="img/plus.svg" style="padding: 0 10px; border-right: 1px solid; border-color: #b4b4b4;">
                        <div>הוספת שחקן</div>
                    </div>
                    <div style="display: flex; align-items: center; margin-left: 1rem;" class="clickable"
                         v-on:click="onActiveColumns()">
                        <img src="img/icon-grid.svg" style="width: 1rem; padding: 0 10px; border-right: 1px solid; border-color: #b4b4b4;">
                        <div>עמודות פעילות</div>
                    </div>
                    <div style="display: flex; align-items: center;  margin-left: 10px;" class="clickable"
                         v-on:click="onExport()">
                        <img src="img/icon-export.svg" style="width: 1rem; padding: 0 10px; border-right: 1px solid; border-color: #b4b4b4;">
                        <div>הדפסה</div>
                    </div>
                    <div style="display: flex; align-items: center;" class="clickable"
                         v-on:click="onPlayerCards()">
                        <img src="img/brochure-folded-svgrepo-com-blue.svg" style="width: 1rem; padding: 0 10px; border-right: 1px solid; border-color: #b4b4b4;">
                        <div>כרטיסי שחקן</div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div style="display: flex">
        <div class="tab-content">
            <data-table2 :records="records"
                         :columns="columns"
                         :showMoreInfo="0"
                         v-on:record-select="onRecordSelect($event)">
            </data-table2>
        </div>
    </div>
</div>