<div class="dialog">
    <div class="float-left clickable" v-on:click="cancel">&#x2715;</div>
    <div class="caption">
        {{caption}}
    </div>
    <form>
        <div class="pv-md">
            <div style="position: relative; width: 240px; margin: 0px auto;">
                <input type="password" autofocus style="width: 100px; text-align: center; padding-left: 70px; padding-right: 70px;" v-model="password">
                <div style="position: absolute; top: 3px; right: 4px;">סיסמה</div>
            </div>
        </div>
        <div class="pb-md" style="text-align: center;">
            <button class="btn wide" v-on:click="confirm()" v-bind:disabled="password == ''">אישור</button>
        </div>
    </form>
</div>