<div class="dialog wide" style="overflow: hidden">
    <div class="caption">
        הרשמה לשנת הפעילות החדשה תשפ"ב 2021-2022    </div>
    <div style="overflow-y: auto;">

        <p class="panel-header" style="font-size: 100%; padding: unset"></p>
        <p>ממשלת ישראל קיבלה החלטה לגיבוש תכנית לקידום שילובם המיטבי של יוצאי אתיופיה בחברה הישראלית, החלטה  (מספר 1300 מיום ה- 9.2.14), בהתאם להחלטה זו, הוכנה במשרד התרבות והספורט תכנית שמטרתה קיום פעילויות ספורט ברחבי הארץ שיסייעו בקידום שילובם של יוצאי אתיופיה בחברה הישראלית בהתאם לאבני היסוד שנקבעו במסגרת החלטת הממשלה.        </p>
        <p>משרד התרבות והספורט, כיתר משרדי הממשלה, קיים עבודת מטה מאומצת על מנת לגבש דרכים יעילות לקדם את יוצאי אתיופיה, לחשוף אותם לפעילויות ספורט רבות ולשלב אותם במסגרות ספורט קיימות, עם כלל האוכלוסייה, תוך מתן העדפה מתקנת תקציבית.</p>
        <p>
            במרוצת חודש ספטמבר 2019 ייצא לדרך הפרויקט לשילוב יוצאי אתיופיה בספורט, באמצעות הגוף הנבחר לאחר מכרז, לשמש כזרוע ביצועית להפעלת הפרויקט: התאחדות הספורט בבתי הספר בישראל.
            ככלל, מטרת הפרויקט היא לאפשר לכלל הישובים בישראל לקבל הכרה (בצד תגמול תקציבי), בקבוצות אשר ישלבו ו\או משלבים במסגרת פעילותן ספורטאים\יות יוצאי\ות אתיופיה, כחלק מקבוצות פעילות קיימות ו\או חדשות.</p>
    </div>
    <button class="btn wide" v-on:click="confirm()">אישור</button>
</div>
