<div class="dialog wide" style="overflow: hidden">
    <div class="caption">
        דברי פתיחה
    </div>
    <div style="overflow-y: auto;">
        <p>
            הפיקוח על החינוך הגופני במשרד החינוך מברך אתכם על היותכם חלק ממסגרת "אליפות בתי הספר התיכוניים" ב{{sportName}} לתלמידים ולתלמידות בשנת הלימודים תשפ"ד.
        </p>
        <p>
            החינוך הגופני הינו מקצוע המחנך לפעילות גופנית כחלק מאורח חיים פעיל ובריא ולניצול נבון של שעות הפנאי, תורם לדימוי העצמי ולהעצמה אישית של התלמיד ומקנה את הערכים החינוכיים: מנהיגות, הגינות, יושר, משמעת עצמית, אחריות, סובלנות, שיתוף פעולה, כבוד לזולת, כוח רצון, התמדה, מוטיבציה, הכרת האחר ועזרה הדדית ומטרתנו לשנות את דפוסי ההתנהגות ואורח החיים של תלמידנו.
        </p>
        <p>
            "אליפות בתי הספר התיכוניים" רכשה לעצמה יוקרה רבה ונותנת מענה הולם לבתי ספר מצטיינים המטפחים את ענף ה{{sportName}} ומשמשת "חממה" לתלמידים הספורטאים ולתלמידות הספורטאיות.
        </p>
        <p>
            בארגון האליפות מושקעים משאבים רבים מצד כל השותפים, וכפועל יוצא מכך נוצרו דפוסי עבודה ארגוניים, אשר נותנים ביטוי הולם לערכים חינוכיים - ספורטיביים. המשחקים יאורגנו גם בשנה"ל תשפ"ד ע"י התאחדות הספורט לבתי ספר וייערכו בחודשים {{getMonthRange()}}. נבקשכם להיערך ולשריין את המועדים בלוח הפעילות הבית ספרי.
        </p>
        <p>
            בכוונתנו להמשיך, גם בשנת הלימודים תשפ"ד, לשדר מספר רב של משחקים, הן של תלמידות והן של תלמידים, ונשמח לשיתוף פעולה עמכם לפני ובמהלך השידורים.
        </p>
        <p>
            הנכם מתבקשים להירשם ולוודא שאכן תוכלו לעמוד בהצלחה באמות המידה ובמטלות המחייבות את כל בתי הספר המשתתפים (כולל אירוח ויציאה למשחקים המשודרים בשידור ישיר). אנו מבקשים להזכירכם כי יש לפעול בהתאם ל"האמנה החינוכית" - כללי ההתנהגות החינוכית, החברתית והספורטיבית לבתי ספר על יסודיים הנוטלים חלק בתחרויות ספורט –המפורסמת בחוזר המנכ"ל- הוראות קבע- 0250.
        </p>
        <p>
            אנו מאחלים לכם חופשה נעימה והצלחה בכול!
        </p>
        <p style="text-align: center;">
            בברכה,
            <br />
            גיא דגן
            <br />
            המפמ"ר והממונה על החינוך הגופני
        </p>
    </div>
    <button class="btn wide" v-on:click="confirm()">אישור</button>
</div>