<div>
    <div v-for="team in teams" class="panel">
        <div class="panel-body">
            <div class="tool-bar">
                <button class="float-left btn"
                        style="pointer-events: auto;"
                        v-on:click="newPlayer(team)"
                        v-bind:title="team.players.length >= maxTeamPlayers ? 'קבוצה הגיעה למכסת שחקנים מקסימלית' : ''"
                        v-bind:disabled="inactiveSeason || team.players.length >= maxTeamPlayers">הוספת תלמידים</button>
                <div class="float-left button-group pb-md">
                    <button v-bind:disabled="inactiveSeason || team.selectionCount != 1" v-on:click="editPlayer(team)"><span class="icon">&#x1F589;</span> עריכה</button>
                    <button v-bind:disabled="inactiveSeason || team.selectionCount == 0" v-on:click="deletePlayers(team)"><span class="icon">&#x2715;</span> מחיקה</button>
                </div>
                <button class="float-left btn"
                        v-bind:disabled="!team.team ||
                                        !team.players ||
                                        team.players.length === 0 ||
                                        validPlayersCount(team) === 0"
                        v-on:click="openPrint(team)">
                    הדפסת קובץ קבוצתי
                    <template v-if="validPlayersCount(team) > 0">
                        ({{validPlayersCount(team)}})
                    </template>
                </button>
                <span  v-if="team.team && (!team.players || team.players.length === 0)" style="color: red; font-size: smaller; float: left;">
                                אין שחקנים בקבוצה זו
                            </span>
                <span v-if="team.team && team.players && team.players.length > 0 && validPlayersCount(team) === 0" style="color: red; font-size: smaller; float: left;">
                                אין שחקנים מאושרים עם כיתה ותאריך לידה בקבוצה זו
                            </span>
                <span v-if="team.team && validPlayersCount(team) > 0 && team.gotStudentWithoutGrade" style="color: red; font-size: smaller; float: left;">
                                <span style="color: red;">&#9888;</span>
                                אזהרה! קיימים שחקנים ללא כיתה
                            </span>
                <span v-if="team.team && validPlayersCount(team) > 0 && team.gotStudentWithoutBirthday" style="color: red; font-size: smaller; float: left;">
                                <span style="color: red;">&#9888;</span>
                                אזהרה! קיימים שחקנים ללא תאריך לידה
                            </span>
            </div>
            <div style="display: flex; flex-direction: row; align-items: center;">
                <div class="panel-header">
                    {{team.sport.name}} {{team.category.name}} {{team.teamNumber}}
                </div>
                <div style="display: flex; align-items: center; font-size: 16px; color: black; margin-right: 20px;">
                    <div style="display: flex; align-items: center; margin-left: 1rem;">
                        <span class="tooltip" style="color: red;">
                            <img style="width: 2rem; padding: 0 0.5rem;" v-bind:src="(team.approved >> 1 & 1) !== 0 ? 'img/v.svg' : 'img/x-grey.svg'">
                            <div class="tooltip-content" style="top: 30px;">
                                <p v-if="(team.approved  >> 1 & 1) !== 0">יש אישור של מנהל\ת בית הספר</p>
                                <p v-if="(team.approved  >> 1 & 1) == 0">אין אישור של מנהל\ת בית הספר</p>
                                <i></i>
                            </div>
                        </span>
                        <div>מנהל\ת</div>
                    </div>

                    <div style="display: flex; align-items: center; margin-left: 1rem;">
                        <span class="tooltip" style="color: red;">
                            <img style="width: 2rem; padding: 0 0.5rem;" v-bind:src="(team.approved  >> 2 & 1) !== 0 ? 'img/v.svg' : 'img/x-grey.svg'">
                            <div class="tooltip-content" style="top: 30px;">
                                <p v-if="(team.approved  >> 2 & 1) !== 0">יש אישור של נציג\ת רשות מקומית</p>
                                <p v-if="(team.approved  >> 2 & 1) == 0">אין אישור של נציג\ת רשות מקומית</p>
                                <i></i>
                            </div>
                        </span>
                        <div>נציג\ת רשות</div>
                    </div>

                    <div style="display: flex; align-items: center; margin-left: 1rem;">
                        <span class="tooltip" style="color: red;">
                            <img style="width: 2rem; padding: 0 0.5rem;" v-bind:src="team.adminStatus ==  2 ? 'img/v.svg' : 'img/x-grey.svg'">
                            <div class="tooltip-content" style="top: 30px;">
                                <p v-if="team.adminStatus == 2">יש אישור של רכז\ת התאחדות הספורט {{team.coordinator ? team.coordinator.coordinatorName : ''}}</p>
                                <p v-if="team.adminStatus == 1">אין אישור של רכז\ת התאחדות הספורט {{team.coordinator ? team.coordinator.coordinatorName : ''}}</p>
                                <p v-if="team.adminStatus != 1 && team.adminStatus != 2">קבוצה נפסלה על ידי רכז\ת התאחדות הספורט</p>
                                <i></i>
                            </div>
                        </span>
                        <div>רכז\ת</div>
                    </div>
                    <div style="display: flex; align-items: center; margin-left: 1rem;">
                        <span class="tooltip" style="color: red;">
                            <img style="width: 2rem; padding: 0 0.5rem;" v-bind:src="((team.approved >> 3 & 1) !== 0) ? 'img/v.svg' : (((team.approved >> 4 & 1) !== 0) ? 'img/x.svg' : 'img/x-grey.svg')">
                            <div class="tooltip-content" style="top: 30px;">
                                <p v-if="(team.approved  >> 3 & 1) !== 0">יש אישור של מפקח\ת</p>
                                <p v-if="(team.approved  >> 3 & 1) == 0 && (team.approved  >> 4 & 1) == 0">אין אישור של מפקח\ת</p>
                                <p v-if="(team.approved  >> 4 & 1) !== 0">קבוצה נפסלה על ידי מפקח\ת</p>
                                <i></i>
                            </div>
                        </span>
                        <div>מפקח\ת</div>
                    </div>
                    <div v-if="loginTokenLinks && loginTokenLinks.length > 0"
                         v-on:click="loginTokenLinksClicked()"
                         style="display: flex; align-items: center; margin-left: 1rem;">
                        <img src="img/link-blue-icon.svg" style="width: 32px;" />
                    </div>
                </div>
            </div>




            <div v-if="team.players && team.players.length > 0">
                <table class="table mt-md" style="width: 100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th style="text-align: center">תעודת זהות</th>
                        <th style="text-align: center">שם פרטי</th>
                        <th style="text-align: center">שם משפחה</th>
                        <th style="text-align: center">ת. לידה</th>
                        <th style="text-align: center">תאריך הוספה</th>
                        <th style="text-align: center">כיתה</th>
                        <th style="text-align: center">תמונה</th>
                        <th style="text-align: center">סטטוס</th>
                        <!--
                        <th style="text-align: center">בדיקה רפואית</th>
                        <th style="text-align: center">ספח ת"ז</th>
                        -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="player in team.players"
                        v-bind:style="{backgroundColor: !player.transfer && (player.grade == null || player.birthDate == null) ? '#ff000087' :
                            player.aboveMaxAge == true && player.isfOverage == true ? '#0d9ef257' :
                            player.aboveMaxAge == true ? '#ffff0057' :
                            player.isfOverage == true ? '#F899FF' : ''}">
                        <td>
                            <input type="checkbox" v-if="!inactiveSeason" v-model="player.selected" v-on:change="handleSelectionChange(team)">
                        </td>
                        <td align="center">{{player.idNumber | idNumber}}</td>
                        <td align="center">{{player.firstName}}</td>
                        <td align="center">{{player.lastName }}</td>
                        <td align="center">{{player.birthDate | date}}
                            <span class="tooltip" v-if="player.aboveMaxAge" style="color: red;">&#9888;
                                <div class="tooltip-content">
                                    <p>התלמיד מעבר לטווח הגילאים שמוגדר לקטגוריה</p>
                                    <i></i>
                             </div></span>
                            <span class="tooltip" v-if="player.isfOverage" style="color: red;">&#9888;
                                <div class="tooltip-content">
                                    <p>
                                        חריג גיל ISF
                                    </p>
                                    <i></i>
                             </div></span>
                            <span class="tooltip" v-if="!player.aboveMaxAge && player.birthDate == null" style="color: red;">&#9888;
                                    <div class="tooltip-content">
                                        <p>שימו לב! חובה להזין תאריך לידה (ע"י לחיצה על כפתור העריכה)</p>
                                        <i></i>
                                    </div>
                                </span>
                        </td>
                        <td align="center">{{player.createdAt | date}}</td>
                        <td align="center">
                             <span class="tooltip" v-if="!player.transfer && player.grade == null" style="color: red;">&#9888;
                                 <div class="tooltip-content">
                                        <p>שימו לב! חובה להזין כיתה (ע"י לחיצה על כפתור העריכה)</p>
                                        <i></i>
                                    </div>
                            </span>
                            {{getGrade(player.grade)}}
                        </td>
                        <!--<td align="center"><span v-if="player.picture">&#x2714</span></td>-->
                        <td align="center">
                            <div style="display: flex; justify-content: space-between; width: 100px;">
                                <template v-if="!inactiveSeason">
                                    <div class="file-button" data-player-id="{{player.idNumber}}"
                                         style="background-image: url('img/photo.png'); width: 60px; height: 28px;"
                                         v-bind:class="{ disable : player.previousSchool != null}"
                                         v-on:click="uploadPicture(player)"></div>
                                    <input :id="'picture-input-'+player.idNumber" type="file" name="picture" v-on:change="handlePicture(player)">
                                </template>
                                <a v-if="player.picture" v-bind:href="'/api/v2/document/' + player.picture" target="_blank">
                                    <img class="player-picture" v-if="player.picture" v-bind:src="'/api/v2/document/' + player.picture" style="max-height: 50px; max-width: 50px;" />
                                </a>
                            </div>
                        </td>
                        <td align="center">
                            <span v-if="player.transfer && !player.previousSchool">ממתין לאישור העברה</span>
                            <span v-else>{{player.parsedStatus}}</span>
                        </td>

                        <!--
                        <td align="center">
                            <div style="display: flex; justify-content: space-between; width: 100px;">
                                <div class="file-button" style="background-image: url('img/user-id.png');  width: 60px; height: 28px;"
                                     v-on:click="uploadMedicalApproval(index)"></div>
                                <input :id="'medical-approval-input'+index" type="file" name="medical-approval" v-on:change="handleMedicalApproval(index)">
                                <button class="btn" v-bind:disabled="!player.medicalApproval" v-on:click="downloadMedicalApproval(index)"><span class="icon">&#x1F441;</span></button>
                            </div>

                        </td>

                        <td align="center">
                            <div style="display: flex; justify-content: space-between; width: 100px;">

                                <div class="file-button"  style="background-image: url('img/article.png'); width: 60px; height: 28px;"
                                     v-on:click="uploadIdSlip(index)"></div>
                                <input :id="'id-slip-input'+index" type="file" name="id-slip" v-on:change="handleIdSlip(index)">
                                <button class="btn" v-bind:disabled="!player.idSlip" v-on:click="downloadIdSlip(index)"><span class="icon">&#x1F441;</span></button>
                            </div>
                        </td>
                        -->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>