<style type="text/css">
    .banner-video {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }

    .var3 a:hover {
        text-decoration: none !important;
    }
</style>

<div class="wide-container" ng-if="Unauthorized">
    <div class="alert alert-danger" role="alert">
עמוד זה דורש הרשאות ניהול
    </div>
</div>

<div class="wide-container" ng-if="!Unauthorized">
    <manage-breadcrumbs description="ניהול  פרסומות"></manage-breadcrumbs>
    <manage-tabs sender="banners"></manage-tabs>
    <div class="alert alert-error" ng-show="error">
        שגיאה בעת  טעינת נתונים
    </div>
    <div class="content" ng-show="!error">
        <div>
            <a class="button button_type_icon_medium button_orange" ng-show="banners.length > 0"
               ng-click="FocusNewBanner()" style="margin-bottom: 20px; cursor: pointer;">
                הוספת פרסומת חדשה
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <div ng-repeat="banner in banners" class="banner-section" data-uniqueid="{{banner.Seq}}">
            <div class="section_3">
                <h2>
    פרסומת מספר
                    {{($index + 1)}}
                    <div class="pull-left">
                        <span class="glyphicon glyphicon-remove" style="cursor: pointer;" ng-click="DeleteBanner(banner)" ng-show="!banner.Deleting"></span>
                        <span ng-show="banner.Deleting && banner.Deleting.Active">
נא להמתין...
                        </span>
                        <div class="alert alert-danger" role="alert" ng-show="banner.Deleting && banner.Deleting.Error">
                            <strong>שגיאה בעת  מחיקת פרסומת</strong>
                        </div>
                    </div>
                </h2>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <!-- div class="form-group">
                            <label for="ddlFrequency" class="control-label">תדירות הופעה</label>
                            <select id="ddlFrequency" ng-model="banner.Frequency">
                                <ui-select-match placeholder="בחרו ענף ספורט...">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="sportField in generalData.sportFields | filter: $select.search">
                                    <div>{{sportField.Name}}</div>
                                </ui-select-choices>
                            </select>
                        </div -->
                        <div>
                            תדירות הופעה
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span style="font-size: 90%;" ng-if="banner.FrequencyPercentage != null">
                                {{banner.FrequencyPercentage}}%
                            </span>
                        </div>
                        <p class="var3">
                            <a href="#" class="{{GetFrequencyClass(banner, 0)}}" ng-click="ChooseFrequency(banner, 0)" onclick="return false;">
                                <i>0</i>
                            </a>
                            <a href="#" ng-repeat="f in [].constructor(10) track by $index"
                               class="{{GetFrequencyClass(banner, $index + 1)}}" ng-click="ChooseFrequency(banner, $index + 1)" onclick="return false;">
                                <i>{{($index + 1)}}</i>
                            </a>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div>
                                מיקום הפרסומת
                            </div>
                            <ui-select ng-model="banner.Location"
                                       theme="bootstrap"
                                       title="בחירת מיקום">
                                <ui-select-match placeholder="בחרו מיקום פרסומת...">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="location in generalData.possibleLocations | filter: $select.search">
                                    <div>{{location.Name}}</div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div>
                                שם הפרסומת
                            </div>
                            <input type="text" ng-model="banner.BannerName" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <a class="button button_type_icon_medium button_orange" ng-show="banner.IsDirty && !banner.Submitting"
                                   ng-click="Save(banner)" style="cursor: pointer;">
                                    שמירת שינויים
                                    <i class="fa fa-save"></i>
                                </a>
                                <span ng-show="banner.Submitting && banner.Submitting.Active">
נא להמתין...
                                </span>
                                <div class="alert alert-success" role="alert" ng-show="banner.Submitting && banner.Submitting.Success">
                                    <strong>נתונים נשמרו בהצלחה</strong>
                                </div>
                                <div class="alert alert-danger" role="alert" ng-show="banner.Submitting && banner.Submitting.Error">
                                    <strong>שגיאה בעת  שמירת נתונים</strong>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div>
                                הועלה על ידי
                                </div>
                                {{banner.UploadedBy ? banner.UploadedBy.Name : ''}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div>
                            תאריך העלאה
                        </div>
                        {{banner.DateCreated | date : 'dd/MM/yyyy'}}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div>
    כתובת מקושרת
                            </div>
                            <input type="text" ng-model="banner.ExternalLink" style="direction: ltr;" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div>
                            סרטון נוכחי
                        </div>
                        <a ng-if="banner.ExternalLink" href="{{banner.ExternalLink}}" target="_blank">
                            <video class="banner-video" ng-src="{{banner.VideoPath}}" autoplay loop></video>
                        </a>
                        <span ng-if="!banner.ExternalLink">
                            <video class="banner-video" ng-src="{{banner.VideoPath}}" autoplay loop></video>
                        </span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div>
                            העלאת סרטון חדש
                        </div>
                        <div class="alert alert-danger" role="alert" ng-show="banner.uploadError">
                            <strong>{{banner.uploadError}}</strong>
                        </div>
                        <div dropzone="dropzoneConfig" class="dropzone page-dropzone" style="font-size: 120%; font-weight: bold;">

                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 15px;" ng-show="banner.IsDirty || banner.Submitting">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a class="button button_type_icon_medium button_orange" ng-show="banner.IsDirty && !banner.Submitting"
                           ng-click="Save(banner)" style="cursor: pointer;">
                            שמירת שינויים
                            <i class="fa fa-save"></i>
                        </a>
                                    <span ng-show="banner.Submitting && banner.Submitting.Active">
    נא להמתין...
                                    </span>
                        <div class="alert alert-success" role="alert" ng-show="banner.Submitting && banner.Submitting.Success">
                            <strong>נתונים נשמרו בהצלחה</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-section" data-uniqueid="new">
            <div class="section_3">
                <h2>
                    פרסומת חדשה
                </h2>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div>
                            תדירות הופעה
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span style="font-size: 90%;" ng-if="generalData.NewBanner.FrequencyPercentage != null">
                                {{generalData.NewBanner.FrequencyPercentage}}%
                            </span>
                        </div>
                        <p class="var3">
                            <a href="#" class="{{GetFrequencyClass(generalData.NewBanner, 0)}}" ng-click="ChooseFrequency(generalData.NewBanner, 0)" onclick="return false;">
                                <i>0</i>
                            </a>
                            <a href="#" ng-repeat="f in [].constructor(10) track by $index"
                               class="{{GetFrequencyClass(generalData.NewBanner, $index + 1)}}" ng-click="ChooseFrequency(generalData.NewBanner, $index + 1)" onclick="return false;">
                                <i>{{($index + 1)}}</i>
                            </a>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div>
                                מיקום הפרסומת
                            </div>
                            <ui-select ng-model="generalData.NewBanner.Location"
                                       theme="bootstrap"
                                       title="בחירת מיקום">
                                <ui-select-match placeholder="בחרו מיקום פרסומת...">{{$select.selected.Name}}</ui-select-match>
                                <ui-select-choices repeat="location in generalData.possibleLocations | filter: $select.search">
                                    <div>{{location.Name}}</div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div>
                                שם הפרסומת
                            </div>
                            <input type="text" id="txtNewBannerName" ng-model="generalData.NewBanner.BannerName" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div>
                            העלאת סרטון
                        </div>
                        <div class="alert alert-danger" role="alert" ng-show="generalData.NewBanner.uploadError">
                            <strong>{{generalData.NewBanner.uploadError}}</strong>
                        </div>
                        <div dropzone="dropzoneConfig" class="dropzone page-dropzone" style="font-size: 120%; font-weight: bold;">

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div>
                                כתובת מקושרת
                            </div>
                            <input type="text" ng-model="generalData.NewBanner.ExternalLink" style="direction: ltr;" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a class="button button_type_icon_medium button_orange" ng-show="!generalData.NewBanner.Submitting"
                           ng-click="Save(generalData.NewBanner)" style="{{GetNewBannerSaveButtonStyle()}}">
                            שמירת נתונים
                            <i class="fa fa-save" style="{{GetNewBannerSaveButtonIconStyle()}}"></i>
                        </a>
                        <span ng-show="generalData.NewBanner.Submitting && generalData.NewBanner.Submitting.Active" style="margin-bottom: 15px;">
נא להמתין...
                        </span>
                        <div class="alert alert-danger" role="alert" ng-show="generalData.NewBanner.Submitting && generalData.NewBanner.Submitting.Error" style="margin-bottom: 15px;">
                            <strong>שגיאה בעת  שמירת נתונים</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>