<div dir="rtl">
    <div class="modal-header">
        <div class="modal-title">
            <div class="modal-title-main">
                הרשמת מועדון ספורט בית-ספרי לשנה"ל תשע"ט
            </div>
            <div class="modal-title-sub"></div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <p>
                        רצ"ב קובץ טפסי הרשמה לשנת הפעילות החדשה תשע"ט.
                    </p>
                    <p style="margin-top: 10px;">
                        הננו ממליצים על היערכותכם הארגונית והמקצועית להפעלת המועדון על בסיס המידע המוצג במסמך זה, ומאחלים לכם שנת פעילות מהנה וספורטיבית. בכל שאלה בנושא ניתן לפנות לרכז/ת ההתאחדות במחוז או למשרדים הראשיים של ההתאחדות.
                    </p>
                    <p style="margin-top: 10px;">
                        לאור ההצלחה בהפעלת "פיילוט" בענף הכדורגל
			<span>
				5X5 
				(Futsal)
			</span>
			אבקש להפנות את תשומת ליבכם להוספת הענף בגילאי כיתות ז'-ח' תלמידים ותלמידות בשנה"ל תשע"ט.
                    </p>
                    <p style="margin-top: 10px;">
                        המעוניינים בפרטים משלימים, מוזמנים לפנות לרכז/ת המחוזי/ת של התאחדות הספורט לבתי-הספר.
                    </p>
                    <p style="margin-top: 10px; text-decoration: underline;">
                        גם השנה, ירשמו המועדונים הבית ספריים את הספורטאים שלהם באיגודי הספורט הרלוונטים, לצד המשך רישומם בהתאחדות.
                    </p>
                    <p style="margin-top: 10px;">
			הרישום לאיגודים הרלוונטיים יבוצע בהתאם לעקרונות חוק הספורט וללא תשלום נוסף לאיגודים. מועדון ספורט בית ספרי יוכל לרשום את הספורטאים / תלמידים  שלו דרך בתי הספר ולא בהכרח דרך מרכז הספורט. 
			<br />
			הרישום באיגוד יהווה תנאי לתקצוב מהטוטו בהתאם לאמות המידה הנדרשות. מועדונים שיקדימו את הרשמת הספורטאים שלהם יזכו בתמיכה כספית ויהיו צפויים להיות מתוגמלים מכספי הטוטו *. 
                    </p>
                    <p style="margin-top: 10px;">
                        מצ"ב 8 טופסי הרשמה. הנכם מתבקשים לעיין ולמלא בקפידה את טופסי ההרשמה ולהעביר אותם במרוכז בצרוף המחאה (על-פי המפורט בטופס הרשמה מס' 3),
                        <span style="font-weight: bold; text-decoration: underline;">
אל רכז/ת התאחדות הספורט לבתי-הספר במחוז, לא יאוחר מתאריך 01.07.18.
                        </span>
                    </p>
                    <p style="margin-top: 10px;">
                        הנכם מתבקשים לוודא שבית-הספר/מועדון הספורט יוכל לעמוד בכל התנאים והדרישות להפעלת מועדון הספורט הבית-ספרי ובכלל זה השתתפות במסגרת התחרויות,
                        <span style="font-weight: bold; text-decoration: underline;">
והעמדת אולם / מגרש משחקים תקני,
                        </span>
                        לאירוח משחקים בליגת מועדוני הספורט הבית-ספריים.
                    </p>
                    <p style="margin-top: 10px;">
                        לאחר אישור הרשמתכם על-ידנו (כפוף לעמידה מלאה בתנאי ונוהלי ההרשמה), ישלח אליכם אישור השתתפות לשנת הלימודים תשע"ט. תוכנית הפעילות / התחרויות תפורסם באתר ההתאחדות החל מחודש ספטמבר 2018.
                    </p>
                    <p style="margin-top: 10px;">
                        * רישום ע"פ תנאי הסף של הטוטו ואישור המועצה העליונה לספורט. בשנת 2019 כל נושא התקצוב ע"י המועצה להסדר הימורים בספורט צפוי לעבור שינוי משמעותי.
                    </p>
                    <div style="margin-top: 10px; border: 3px solid black;">
                        את דמי ההרשמה ניתן לחלק עד - 4 תשלומים שווים (תאריך התשלום האחרון לא יאוחר מ - 28.12.2018)
                        <br />
                        <span style="font-weight: bold;">
לא תותר פעילותם התחרותית של בתי ספר שלא יעבירו את דמי ההרשמה יחד עם טפסי ההרשמה.
                        </span>
                    </div>
                    <p style="margin-top: 10px;">
                        טל משרד ראשי: 03-5619080
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button class="button button_grey" ng-click="confirm()">
                אישור וחזרה לטפסי הרשמה
            </button>
        </div>
    </div>
</div>