<!--==============================content================================-->
<div class="tp-banner-container">
    <div class="rev_slider">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="10">
                <!-- MAIN IMAGE -->
                <img src="images/111.jpg" alt="" data-bgfit="cover" data-bgposition="center center">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption lightgrey_sectionider skewfromrightshort fadeout"
                     data-speed="500"
                     data-start="1200"
                     data-easing="Power4.easeOut">
                    <div class="caption_type_1">
                        <div class="caption_inner">
                            <div class="container">
                                <div class="rev_caption">
                                    <div class="clearfix">
                                        <a href="#" class="button banner_button sport">כתבה</a>
                                        <div class="event_date">18 ליוני 2016</div>
                                    </div>
                                    <a href="#"><h2>אלבום תמונות באירועי אתלטיקה פרחי ספורט</h2></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- SLIDE-->
            <li data-transition="fade" data-slotamount="10">
                <!-- MAIN IMAGE -->
                <img src="images/115.jpg" alt="" data-bgfit="cover" data-bgposition="center center">
                <!-- LAYERS -->
                <!-- LAYER NR. 2 -->
                <div class="tp-caption lightgrey_sectionider skewfromrightshort fadeout"
                     data-speed="500"
                     data-start="1200"
                     data-easing="Power4.easeOut">
                    <div class="caption_type_1">
                        <div class="caption_inner">
                            <div class="container">
                                <div class="rev_caption">
                                    <div class="clearfix">
                                        <a href="#" class="button banner_button business">גלריות</a>
                                        <div class="event_date">18 ליוני 2016</div>
                                    </div>
                                    <a href="#"><h2>טורניר 4 על 4 בנות  ט-י. היה אירוע אדיר</h2></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- SLIDE-->
            <li data-transition="fade" data-slotamount="10">
                <!-- MAIN IMAGE -->
                <img src="images/113.jpg" alt="" data-bgfit="cover" data-bgposition="center center">
                <!-- LAYERS -->
                <!-- LAYER NR. 2 -->
                <div class="tp-caption lightgrey_sectionider skewfromrightshort fadeout"
                     data-speed="500"
                     data-start="1200"
                     data-easing="Power4.easeOut">
                    <div class="caption_type_1">
                        <div class="caption_inner">
                            <div class="container">
                                <div class="rev_caption">
                                    <div class="clearfix">
                                        <a href="#" class="button banner_button entertainment">גלריות</a>
                                        <div class="event_date">18 ליוני 2016</div>
                                    </div>
                                    <a href="#"><h2>טורניר 4 על 4 בנות  ט-י. היה אירוע אדיר</h2></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!--==============================news carousel=================================-->
    <div class="section">
        <div class="wide-container">
            <div class="row">

                <div class="col-lg-9 col-md-9 col-sm-9">

                    <!-- כתבות -->
                    <div class="section photo_gallery gallery_color3">
                        <h2 class="section_title">כתבות אחרונות</h2>
                        <a href="#" class="button button_grey view_button">לכל הכתבות</a>
                        <div class="row">
                            <div id="owl-demo-4">
                                <div class="item">
                                    <div class="scale_image_container">
                                        <a href="#"><img src="images/111.jpg" alt="" class="scale_image"></a>
                                        <!--caption-->
                                        <div class="caption_type_1">
                                            <div class="caption_inner">
                                                <a href="#"><h2>כתום עולה! הניצחון המפתיע</h2></a>
                                                <div class="event_date">17/7/2016 12:45</div>
                                                <div class="event_date">תומר ארצי</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="scale_image_container">
                                        <a href="#"><img src="images/113.jpg" alt="" class="scale_image"></a>
                                        <!--caption-->
                                        <div class="caption_type_1">
                                            <div class="caption_inner">
                                                <a href="#"><h2>אליפות ישראל בג'ודו</h2></a>
                                                <div class="event_date">17/7/2016 12:45</div>
                                                <div class="event_date">תומר ארצי</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="scale_image_container">
                                        <a href="#"><img src="images/112.jpg" alt="" class="scale_image"></a>
                                        <!--caption-->
                                        <div class="caption_type_1">
                                            <div class="caption_inner">
                                                <a href="#"><h2>אירוע שחיה ארצי בוינגייט</h2></a>
                                                <div class="event_date">17/7/2016 12:45</div>
                                                <div class="event_date">תומר ארצי</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="scale_image_container">
                                        <a href="#"><img src="images/114.jpg" alt="" class="scale_image"></a>
                                        <!--caption-->
                                        <div class="caption_type_1">
                                            <div class="caption_inner">
                                                <a href="#"><h2>אליפות ישרא בג'ודו</h2></a>
                                                <div class="event_date">17/7/2016 12:45</div>
                                                <div class="event_date">תומר ארצי</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="scale_image_container">
                                        <a href="#"><img src="images/115.jpg" alt="" class="scale_image"></a>
                                        <!--caption-->
                                        <div class="caption_type_1">
                                            <div class="caption_inner">
                                                <a href="#"><h2>אירוע ענפי אתלטיקה קלה פרחי ספורט</h2></a>
                                                <div class="event_date">17/7/2016 12:45</div>
                                                <div class="event_date">תומר ארצי</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="scale_image_container">
                                        <a href="#"><img src="images/news_carousel_img2.jpg" alt="" class="scale_image"></a>
                                        <!--caption-->
                                        <div class="caption_type_1">
                                            <div class="caption_inner">
                                                <a href="#"><h2>אירוע שחיה ארצי בוינגייט</h2></a>
                                                <div class="event_date">17/7/2016 12:45</div>
                                                <div class="event_date">תומר ארצי</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <!--polls-->
                    <div class="section section_text appear-animation fadeInDown appear-animation-visible" data-appear-animation="fadeInDown" data-appear-animation-delay="500" style="-webkit-animation: 500ms;">
                        <h2 class="section_title">סקר</h2>
                        <div class="vote_widget">
                            <h4>מי לדעתך תזכה השנה בליגת העל בכדורסל לתיכונים</h4>
                            <form>
                                <ul>
                                    <li>
                                        <input type="radio" checked id="radio_1" name="radio" class="hide">
                                        <label for="radio_1">בליך רמת גן</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="radio_2" name="radio" class="hide">
                                        <label for="radio_2">מטרווסט רעננה</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="radio_3" name="radio" class="hide">
                                        <label for="radio_3">כצנלסון כפר סבא</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="radio_4" name="radio" class="hide">
                                        <label for="radio_4">עמי אסף בית ברל</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="radio_5" name="radio" class="hide">
                                        <label for="radio_5">אף אחת ממי שמופיעה כאן</label>
                                    </li>
                                </ul>
                            </form>
                            <div class="vote_buttons">
                                <a href="#" class="button button_grey">הצבע</a>
                                <a href="#" class="button button_grey">צפה בתוצאות</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wide-container">
            <div class="row">

                <!--==============================main content=================================-->
                <div id="main" class="col-lg-4 col-md-4 col-sm-12">
                    <!-- Section Events -->
                    <div class="section">
                        <div class="tabs variation_2 variation_4" data-appear-animation="fadeInDown" data-appear-animation-delay="500">
                            <!--tabs navigation-->
                            <div class="clearfix">
                                <h2 class="section_title">אירועים</h2>
                                <br/><br/>
                                <div class="clearfix tabs_conrainer">
                                    <ul class="tabs_nav clearfix">
                                        <li class=""><a href="#tab-1">כדורסל</a></li>
                                        <li class=""><a href="#tab-2">כדוריד</a></li>
                                        <li class=""><a href="#tab-3">כדורעף</a></li>
                                        <li class=""><a href="#tab-4">אתלטיקה</a></li>
                                        <li class=""><a href="#tab-5">פרחי ספורט</a></li>
                                        <li class=""><a href="#tab-6">שאר הענפים</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--tabs content-->
                            <div class="tabs_content post_var_inline">
                                <!-- event type -->
                                <div id="tab-1">
                                    <div>אוגוסט 2016</div>
                                    </br>
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>גמר ליגת העל תיכונים</h3></a>
                                                        <div class="event_date">18/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>18</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>אירוע ארצי פרחי ספורט כדורסל</h3></a>
                                                        <div class="event_date">22/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>22</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>גמר אליפות מחוזית בנות ט'-י'</h3></a>
                                                        <div class="event_date">25/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>25</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>אירוע ארצי פרחי ספורט כדורסל</h3></a>
                                                        <div class="event_date">25/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>25</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                </div>
                                <!-- end event type -->
                                <!-- event type -->
                                <div id="tab-2">
                                    <div>אוגוסט 2016</div>
                                    </br>
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>גמר ליגת העל תיכונים</h3></a>
                                                        <div class="event_date">18/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>18</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>אירוע ארצי פרחי ספורט כדורסל</h3></a>
                                                        <div class="event_date">22/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>22</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>גמר אליפות מחוזית בנות ט'-י'</h3></a>
                                                        <div class="event_date">25/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>25</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>אירוע ארצי פרחי ספורט כדורסל</h3></a>
                                                        <div class="event_date">25/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>25</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                </div>
                                <!-- end event type -->
                                <!-- event type -->
                                <div id="tab-3">
                                    <div>אוגוסט 2016</div>
                                    </br>
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>גמר ליגת העל תיכונים</h3></a>
                                                        <div class="event_date">18/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>18</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>אירוע ארצי פרחי ספורט כדורסל</h3></a>
                                                        <div class="event_date">22/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>22</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>גמר אליפות מחוזית בנות ט'-י'</h3></a>
                                                        <div class="event_date">25/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>25</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>אירוע ארצי פרחי ספורט כדורסל</h3></a>
                                                        <div class="event_date">25/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>25</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                </div>
                                <!-- end event type -->
                                <!-- event type -->
                                <div id="tab-4">
                                    <div>אוגוסט 2016</div>
                                    </br>
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>גמר ליגת העל תיכונים</h3></a>
                                                        <div class="event_date">18/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>18</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>אירוע ארצי פרחי ספורט כדורסל</h3></a>
                                                        <div class="event_date">22/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>22</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>גמר אליפות מחוזית בנות ט'-י'</h3></a>
                                                        <div class="event_date">25/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>25</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>אירוע ארצי פרחי ספורט כדורסל</h3></a>
                                                        <div class="event_date">25/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>25</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                </div>
                                <!-- end event type -->
                                <!-- event type -->
                                <div id="tab-5">
                                    <div>אוגוסט 2016</div>
                                    </br>
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>גמר ליגת העל תיכונים</h3></a>
                                                        <div class="event_date">18/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>18</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>אירוע ארצי פרחי ספורט כדורסל</h3></a>
                                                        <div class="event_date">22/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>22</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>גמר אליפות מחוזית בנות ט'-י'</h3></a>
                                                        <div class="event_date">25/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>25</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>אירוע ארצי פרחי ספורט כדורסל</h3></a>
                                                        <div class="event_date">25/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>25</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                </div>
                                <!-- end event type -->
                                <!-- event type -->
                                <div id="tab-6">
                                    <div>אוגוסט 2016</div>
                                    </br>
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>גמר ליגת העל תיכונים</h3></a>
                                                        <div class="event_date">18/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>18</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>

                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>אירוע ארצי פרחי ספורט כדורסל</h3></a>
                                                        <div class="event_date">22/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>22</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>גמר אליפות מחוזית בנות ט'-י'</h3></a>
                                                        <div class="event_date">25/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>25</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                    <!-- event -->
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                            <ul>
                                                <li class="clearfix">
                                                    <div class="post_text">
                                                        <a href="#"><h3>אירוע ארצי פרחי ספורט כדורסל</h3></a>
                                                        <div class="event_date">25/8/2016 10:30</div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <ul>
                                                <h1>25</h1>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- end event -->
                                </div>
                                <!-- end event type -->
                                </br>
                                <ul class="tabs_nav clearfix" style="float:left;">
                                    <a href="#" class="button button_grey">לכל האירועים</a>
                                </ul>
                                </br>
                            </div>
                        </div>
                    </div>
                    </br>
                </div>

                <div class="col-lg-8 col-md-8">
                    <div class="section photo_gallery gallery_color2" data-appear-animation="fadeInDown" data-appear-animation-delay="400ms">
                        <h2 class="section_title">גלרית סרטונים</h2>
                        <a href="#" class="button button_grey view_button">לכל הסרטונים</a>
                        <div class="row">
                            <div id="owl-demo-7">
                                <div class="item">
                                    <div class="scale_image_container">
                                        <div class="t_align_c">
                                            <div class="iframe_video_container">
                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/ohl2cv_eqng" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="t_align_c">
                                        <div class="iframe_video_container">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/8jF38CMSJOo" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="t_align_c">
                                        <div class="iframe_video_container">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/WdN94FswOwU" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <!--Gallery-->
                    <div class="section photo_gallery gallery_color1" data-appear-animation="fadeInDown" data-appear-animation-delay="400">
                        <h2 class="section_title">גלרית תמונות</h2>
                        <a href="#" class="button button_grey view_button">לכל הגלריות</a>
                        <div class="row">
                            <div id="owl-demo-10">
                                <div class="item">
                                    <div class="scale_image_container">
                                        <a href="#"><img src="images/202.jpg" alt="" class="scale_image"></a>
                                        <div class="post_image_buttons">
                                            <a href="#" class="icon_box">
                                                <i class="fa fa-video-camera"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#"><h4>אירוע פרחי ספורט- הרצאה הורים וילדים מחוז דרום</h4></a>
                                    <div class="event_date">17/3/2016</div>
                                </div>
                                <div class="item">
                                    <div class="scale_image_container">
                                        <a href="#"><img src="images/204.jpg" alt="" class="scale_image"></a>
                                        <div class="post_image_buttons">
                                            <a href="#" class="icon_box">
                                                <i class="fa fa-picture-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#"><h4>אליפות העולם בשייט בתל אביב</h4></a>
                                    <div class="event_date">19/8/2016</div>
                                </div>
                                <div class="item">
                                    <div class="scale_image_container">
                                        <a href="#"><img src="images/203.jpg" alt="" class="scale_image"></a>
                                        <div class="post_image_buttons">
                                            <a href="#" class="icon_box">
                                                <i class="fa fa-picture-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#"><h4>אירוע במחוז דרום</h4></a>
                                    <div class="event_date">15/6/2016</div>
                                </div>
                                <div class="item">
                                    <div class="scale_image_container">
                                        <a href="#"><img src="images/202.jpg" alt="" class="scale_image"></a>
                                        <div class="post_image_buttons">
                                            <a href="#" class="icon_box">
                                                <i class="fa fa-video-camera"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#"><h4>אירוע מדהיייייים</h4></a>
                                    <div class="event_date">1/2/2016</div>
                                </div>
                                <div class="item">
                                    <div class="scale_image_container">
                                        <a href="#"><img src="images/201.jpg" alt="" class="scale_image"></a>
                                        <div class="post_image_buttons">
                                            <a href="#" class="icon_box">
                                                <i class="fa fa-picture-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#"><h4>אירוע אין דברים כאלה</h4></a>
                                    <div class="event_date">20/3/2016</div>
                                </div>
                                <div class="item">
                                    <div class="scale_image_container">
                                        <a href="#"><img src="images/205.jpg" alt="" class="scale_image"></a>
                                        <div class="post_image_buttons">
                                            <a href="#" class="icon_box">
                                                <i class="fa fa-picture-o"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <a href="#"><h4>אירוע לא מהעולם הזה</h4></a>
                                    <div class="event_date">10/5/2016</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function() {
        jQuery('.rev_slider').revolution({
            delay:9000,
            startwidth:1170,
            startheight:500,
            hideThumbs:0,
            fullWidth:"on",
            hideTimerBar:"on",
            soloArrowRightHOffset:30,
            soloArrowLeftHOffset:30,
            shadow:0
        });

        $('.rev_slider').parent().find('.tp-bullets').remove();

    });
</script>

<script>
    var colors = [['#fa985d', '#ffffff']], circles = [];
    var child = document.getElementById('circles-1');
    circles.push(Circles.create({
        id:         child.id,
        value:      8.0,
        radius:     19,
        width:      3,
        maxValue:   10,
        duration:   1000,
        text:       function(value){return value;},
        colors:    ['#fa985d', '#ffffff']
    }));

    var child = document.getElementById('circles-2');
    circles.push(Circles.create({
        id:         child.id,
        value:      7.7,
        radius:     19,
        width:      3,
        maxValue:   10,
        duration:   1000,
        text:       function(value){return value;},
        colors:    ['#fa985d', '#ffffff']
    }));

    var child = document.getElementById('circles-3');
    circles.push(Circles.create({
        id:         child.id,
        value:      9.2,
        radius:     19,
        width:      3,
        maxValue:   10,
        duration:   1000,
        text:       function(value){return value;},
        colors:    ['#fa985d', '#ffffff']
    }));

    var child = document.getElementById('circles-4');
    circles.push(Circles.create({
        id:         child.id,
        value:      6.2,
        radius:     14,
        width:      3,
        maxValue:   10,
        duration:   1000,
        text:       function(value){return value;},
        colors:    ['#fa985d', '#ffffff']
    }));

    var child = document.getElementById('circles-5');
    circles.push(Circles.create({
        id:         child.id,
        value:      6.2,
        radius:     14,
        width:      3,
        maxValue:   10,
        duration:   1000,
        text:       function(value){return value;},
        colors:    ['#fa985d', '#ffffff']
    }));

    var child = document.getElementById('circles-6');
    circles.push(Circles.create({
        id:         child.id,
        value:      8.0,
        radius:     19,
        width:      3,
        maxValue:   10,
        duration:   1000,
        text:       function(value){return value;},
        colors:    ['#fa985d', '#ffffff']
    }));

    var child = document.getElementById('circles-7');
    circles.push(Circles.create({
        id:         child.id,
        value:      7.7,
        radius:     19,
        width:      3,
        maxValue:   10,
        duration:   1000,
        text:       function(value){return value;},
        colors:    ['#fa985d', '#ffffff']
    }));

    var child = document.getElementById('circles-8');
    circles.push(Circles.create({
        id:         child.id,
        value:      9.2,
        radius:     19,
        width:      3,
        maxValue:   10,
        duration:   1000,
        text:       function(value){return value;},
        colors:    ['#fa985d', '#ffffff']
    }));

    var child = document.getElementById('circles-9');
    circles.push(Circles.create({
        id:         child.id,
        value:      6.2,
        radius:     14,
        width:      3,
        maxValue:   10,
        duration:   1000,
        text:       function(value){return value;},
        colors:    ['#fa985d', '#ffffff']
    }));
</script>
