<style type="text/css">
    .section {
        margin-top: 10px !important;
    }
</style>
<div dir="rtl">
    <div class="section_3" style="margin-top: 5px; margin-right: 10px;">
        <h2>{{title}}</h2>
    </div>
    <div class="modal-body">
        <div class="bg-info" style="margin-bottom: 12px;" ng-if="info">{{info}}</div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center; margin-bottom: 20px;">
                <img ng-src="/content/Images/{{pageSeq}}/{{imageFileName}}" style="height: 150px;" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ui-select id="ddlLinlType"
                           ng-model="selected.LinkType"
                           on-select="linkTypeChanged($item)"
                           theme="bootstrap"
                           title="בחירת סוג קישור">
                    <ui-select-match placeholder="בחרו סוג קישור...">{{$select.selected.Name}}</ui-select-match>
                    <ui-select-choices repeat="linkType in data.LinkTypes | filter: $select.search">
                        <div>{{linkType.Name}}</div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                בחירת סוג קישור
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;" ng-show="selected.LinkType && selected.LinkType.Value == 1">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <input type="text" ng-model="selected.ExternalUrl" placeholder="כתובת URL">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                כתובת קישור  חיצוני
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;" ng-if="selected.LinkType && selected.LinkType.Value == 2 && existingLink && existingLink.Type == 2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align: center;">
                <a href="/content/ImageAttachments/{{imageSeq}}/{{existingLink.FileName}}" target="_blank" title="{{existingLink.FileName}}">
                    <img ng-if="existingLink.IsImage" ng-src="/content/ImageAttachments/{{imageSeq}}/{{existingLink.FileName}}" border="0" style="height: 64px;" />
                    <span ng-if="!existingLink.IsImage" style="font-size:64px;" class="{{existingLink.PreviewClass}}"></span>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                קובץ מצורף קיים
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;" ng-show="selected.LinkType && selected.LinkType.Value == 2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div dropzone="dropzoneConfig" class="dropzone page-dropzone" style="font-size: 120%; font-weight: bold;">

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                העלאת קובץ מצורף
                <span ng-show="existingLink">
                    חדש
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <button class="btn btn-warning" ng-click="cancel()">
                        ביטול
                    </button>
                    <button class="button button_grey" ng-click="confirm()" ng-disabled="!isInputValid()">
                        המשך
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>