<div class="dialog wide" style="overflow: hidden">
    <div class="caption">
        הרשמה לשנת הפעילות החדשה תשפ"ד 2023-2024
    </div>
    <div style="overflow-y: auto;">

        <p class="panel-header" style="font-size: 100%; padding: unset"></p>
        <p>
            שנת הלימודים תשפ"ג התאפיינה בחזרה מלאה לשגרה עם היקפי פעילות כפי שהתקיימו בשנים שלפני משבר הקורונה ואף בחלק מן הפעילויות הייתה צמיחה.
        </p>
        <p>
            במהלך תשפ"ג ביצענו סיורים במספר רב של מועדוני ספורט בית ספריים וישנם מספר תובנות שנבעו מסיורים אלו שברצוננו ליישם בשנים הבאות.
        </p>
        <p>
            בימים אלה אנו נערכים לקראת שנה"ל תשפ"ד.
        </p>
        <p>
            הנכם מתבקשים לוודא כי בית הספר יוכל לעמוד בכל התנאים והדרישות להפעלת מועדון הספורט הבית-ספרי ובכלל זה השתתפות במסגרת התחרויות, העמדת אולם/מתקן משחקים תקני לאירוח משחקים בליגת מועדוני הספורט הבית ספריים, מספר אימונים, הכשרת מאמנים             וכן לפעול עפ"י כל כללי חוזרי משרד החינוך, כללי והנחיות משרד הספורט וכן עפ"י נהלי ההתאחדות כפי שמופיעים בחוזרי האליפויות ובחוברת מידע ועקרונות פעולה.
        </p>
        <p>
            להזכירכם, לצד רישום הספורטאים/ות במערכת הרישום של ההתאחדות יש לפעול לרישומים באיגודי הספורט הרלוונטיים. הרישום יתבצע עפ"י חוק הספורט וללא תשלום נוסף לאיגודים.
        </p>
        <p>
            בנוסף הרישום באיגודים השונים חייב להיות תחת אגודה/עמותה עפ"י הכללים המעודכנים במבחני התמיכה לאגודות ואיגודי ספורט. כמו כן, הכרה בתקציב הקבוצות יהיה עפ"י התנאים המחייבים כפי שמופיעים במבחני התמיכה לאגודות ואיגודי ספורט.
        </p>
        <p>
            עליכם למלא בקפידה את כל שלבי הרישום ולוודא כי הנכם מקבלים את כל האישורים הרלוונטיים. ניתן לשלם באמצעות אמצעי תשלום שונים (המחאה, העברה בנקאית, אשראי)  וכל זאת עד תאריך 1.8.2023. את דמי ההרשמה ניתן לחלק עד 4 תשלומים שווים (תאריך התשלום האחרון לא יאוחר מתאריך 28.12.2023).
        </p>
        <p style="font-weight: bold;">
            לא תותר פעילותם התחרותית של בתי ספר שלא יעבירו את דמי ההרשמה יחד עם טופסי הרישום.
        </p>
        <p>
            לאחר אישור הרשמתכם על-ידנו (כפוף לעמידה מלאה בתנאי ונוהלי ההרשמה), ישלח אליכם אישור הרשמה לשנת הלימודים תשפ"ד. תוכנית הפעילות/התחרויות תפורסם באתר ההתאחדות החל מחודש אוקטובר 2023.
        </p>
        <p>
            בכל שלב ניתן להיעזר בצוות מחוז ההתאחדות ו/או במטה ההתאחדות.
        </p>
        <p>
            לסיום אני מבקש באופן אישי להודות לכל אחד ואחת מכם/ן על האמון הרב שאתם נותנים במערכת שלנו ועל שיתוף הפעולה ההדוק לאורך השנים ולאחל שנת פעילות חינוכית, ספורטיבית מהנה ומוצלחת.
        </p>
        <p style="text-align: center;">
            בברכה ובהצלחה,
            <br/>
            זיו ישראלי
            <br/>
            מנכ"ל התאחדות הספורט לבתי הספר
        </p>
    </div>
    <button class="btn wide" v-on:click="confirm()">אישור</button>
</div>
